<h3>Places</h3>

<div class="col">
  <% for place in @places %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <a href="/places/<%= place.id %>"><%= place.name %></a>
      </h4>
     </div> 
  <% end %>
</div>
