<h3>Places</h3>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>

<div class="mb-3">
  <a href="/places/new">New place</a>  
</div>