<h3>Places</h3>

  <div class="col-sm-9">          
    <a href="/places/new/" class="btn btn-success">New Place</a>
  </div>

<div class="col">
  <% for place in @places %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <a href="/places/<%= place.id %>"><%= place.name %></a>
      </h4>
     </div> 
  <% end %>
</div>

